{% extends 'single.twig' %}

{% block single_main_content %}

	<div class="profile-main-content">

		<div class="container-fluid">

			<div class="row">

				<div class="col-sm-4">

					<div class="profile-sidebar hidden-xs">

						<div class="profile-image">

							{% if post.thumbnail %}

								<img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.alt|default('Profile Image') }}" class="profile-image__img">

							{% else %}

								<div class="profile-image__placeholder"></div>

							{% endif %}

							{% if post.thumbnail.caption %}

								<div class="profile-image__caption">
									{{ post.thumbnail.caption }}
								</div>

							{% endif %}

						</div>

					</div>

				</div><!-- /.col-sm-4 -->

				<div class="col-sm-8">

					<div class="profile-main-column">

						<div class="profile-header">

							<h1 class="profile-title">

								<div class="profile-title__text">
									{{ post.title }}
								</div>

								{% if post.job_title %}

									<div class="profile-subtitle">
										{{ post.job_title }}
									</div>

								{% endif %}

							</h1>

						</div>

						{% if post.thumbnail %}

							<div class="profile-image profile-image--mobile hidden-sm visible-xs">

								<img src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.alt|default('Profile Image') }}" class="profile-image__img">

								{% if post.thumbnail.caption %}

									<div class="profile-image__caption">
										{{ post.thumbnail.caption }}
									</div>

								{% endif %}

							</div>

						{% endif %}

						<div class="profile-meta">

							{% if post.aka %}
								<div class="profile-meta__item">
									<div class="profile-meta__key">
										AKA:
									</div>
									<div class="profile-meta__value">
										{{ post.aka }}
									</div>
								</div>
							{% endif %}

							{% if post.terms('industry') %}
								<div class="profile-meta__item">
									<div class="profile-meta__key">
										Industry:
									</div>
									<div class="profile-meta__value">
										{{ post.terms('industry')|join(', ') }}
									</div>
								</div>
							{% endif %}

							{% if post.allegation_short %}
								<div class="profile-meta__item">
									<div class="profile-meta__key">
										Allegations Summary:
									</div>
									<div class="profile-meta__value">
										{{ post.allegation_short }}
									</div>
								</div>
							{% endif %}

							{% if post.terms('victim-gender') %}
								<div class="profile-meta__item">
									<div class="profile-meta__key">
										Alleged Victim Gender:
									</div>
									<div class="profile-meta__value">
										{{ post.terms('victim-gender')|join(', ') }}
									</div>
								</div>
							{% endif %}

						</div>

						{% if post.content %}

							<div class="profile-section">

								<article class="profile-content the-content">
									{{ post.content }}
								</article>

							</div>

						{% endif %}

						{% if post.get_external_links_info %}

							<div class="profile-section">

								<h5 class="section-heading">
									References
								</h5>

								<ul class="profile-links">

									{% for link in post.get_external_links_info %}

										<li class="profile-links__item">

											<a class="profile-links__link" href="{{ link.url }}">

												{% if link.title %}

													{{ link.title }}

												{% else %}

													{{ link.url }}

												{% endif %}

											</a>

											{% if link.providerName %}
												({{ link.providerName }}{% if link.publishedDate %} - {{ link.publishedDate }}{% endif %})
											{% endif %}

										</li>

									{% endfor %}

								</ul>

							</div>

						{% endif %}

						{% if post.get_tmdb_cast_credits %}

							<div class="profile-section">

								<h5 class="section-heading">
									<div class="section-heading__text">
										Filmography
									</div>
									<div class="section-heading__aside">
										as cast member
									</div>
								</h5>

								<table class="table profile-filmography profile-filmography--cast">

									<tbody>

										{% for item in post.get_tmdb_cast_credits %}

											{% include 'components/filmography-table-row.twig' with {
												title: item.title,
												tmdb_url: item.tmdb_url,
												role: item.role,
												media_type: item.media_type,
												episode_count: item.episode_count,
												release_date: item.release_date
											} only %}

										{% endfor %}

									</tbody>

								</table>

							</div>

						{% endif %}

						{% if post.get_tmdb_crew_credits %}

							<div class="profile-section">

								<h5 class="section-heading">
									<div class="section-heading__text">
										Filmography
									</div>
									<div class="section-heading__aside">
										as crew member
									</div>
								</h5>

								<table class="table profile-filmography profile-filmography--crew">

									<tbody>

										{% for item in post.get_tmdb_crew_credits %}

											{% include 'components/filmography-table-row.twig' with {
												title: item.title,
												tmdb_url: item.tmdb_url,
												role: item.role,
												media_type: item.media_type,
												episode_count: item.episode_count,
												release_date: item.release_date
											} only %}

										{% endfor %}

									</tbody>

								</table>

							</div>

						{% endif %}

					</div>

				</div>

			</div><!-- /.row -->

		</div>

	</div>

{% endblock %}

{% block single_footer %}

	{% if more_accused %}

		<div class="single-footer">

			<div class="container-fluid">

				<h5 class="section-heading">
					<i class="fa fa-user fa-list light-icon"></i> &nbsp;
					More Profiles
				</h5>

				<div class="person-teases">

					{% for accused in more_accused %}

						{% include 'components/person-tease.twig' with {
							title: accused.title,
							link: accused.link,
							thumbnail: accused.thumbnail,
							job_title: accused.job_title,
							allegation_short: accused.allegation_short,
							excerpt: accused.get_preview(12, '', '')
						} only %}

					{% endfor %}

				</div>

			</div>

		</div>

	{% endif %}

{% endblock %}
