{% extends 'page.twig' %}

{% block page_content %}

	<div class="page-content the-content">

		{{ post.content }}

		<hr />

		<table class="table">

			<tr>
				<td>
					Total Number of Accused
				</td>
				<td class="text-right">
					{{ total_count }}
				</td>
			</tr>

			<tr>
				<td>Number of Men</td>
				<td class="text-right">{{ male_count }}</td>
			</tr>

			<tr>
				<td>
					Number of Women (<a href="/accused?accused-gender=female">See All</a>)
				</td>
				<td class="text-right">{{ female_count }}</td>
			</tr>

			<tr>
				<td>
					Allegedly Victimized Female(s) (<a href="/accused?victim-gender=female">See All</a>)
				</td>
				<td class="text-right">
					{{ female_victim }}
				</td>
			</tr>

			<tr>
				<td>
					Allegedly Victimized Male(s) (<a href="/accused?victim-gender=male">See All</a>)
				</td>
				<td class="text-right">
					{{ male_victim }}
				</td>
			</tr>

		</table>

		<hr />

		<p>
			<strong>
				Candidates &amp; Elected Officals - By Political Party
			</strong>
		</p>

		<table class="table">

			{% for party in political_parties %}

				<tr>
					<td>{{ party }} (<a href="/accused?political-party={{ party.slug }}">See All</a>)</td>
					<td class="text-right">{{ party.count }}</td>
				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock %}